Labore/Labor2/Vorlesungsplan.dtd

<!ELEMENT Vorlesungsplan (Woche+)>
<!ELEMENT Woche (Tag+)>
<!ATTLIST Woche KW CDATA #REQUIRED>
<!ELEMENT Tag (Vorlesung*)>
<!ATTLIST Tag Wochentag CDATA #REQUIRED>
<!ELEMENT Vorlesung (Titel, Dozent, Raum, Uhrzeit)>
<!ELEMENT Titel (#PCDATA)>
<!ELEMENT Dozent (#PCDATA)>
<!ELEMENT Raum (#PCDATA)>
<!ELEMENT Uhrzeit EMPTY>
<!ATTLIST Uhrzeit von CDATA #REQUIRED bis CDATA #REQUIRED>